@keyframes popright {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes popleft {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes respire {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}