@charset "utf-8";
@font-face {
    font-family: 'Lora';
    src: url('../src/fonts/Lora-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a:active {
    color: #507DBC;
}