@charset "utf-8";
@import "./clean.css";
@import "./animations.css";
@import "nav.css";
@import "./footer.css";

@media screen and (max-width: 1024px) {
	iframe, .infos {
		width: 100%;
	}
}

#contact {
	/* padding-top: 10%; */
	width: 100%;
	min-height: 100vh;
	background-color: #2b2b2b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: gray solid 2px;
}
.joindre {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 150px;
}
.infos {
	min-width: 30%;
	display: flex;
	justify-content: center;
}
.infos ul li{
	color: #f1f1f1;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Lora', serif;
	font-size: 1.5rem;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}
.infos ul li a {
	color: #4e7b5c;
	transition-duration: 0.5s;
}
.infos ul li a:hover {
	color: #507DBC;
	transition-duration: 0.5s;
}
.infos ul li img {
	width: 3rem;
	margin: 5%;
	transform: translateY(-50%);
}
iframe {
	min-width: 60%;
	aspect-ratio: 2/1;
	border: none;
	border-radius: 20px;
	border: #4e7b5c solid 3px;
	margin: 3%;
}
.formulaire {
	margin: 5%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 50vh;
}
.formulaire h1 {
	color: gray;
	font-family: monospace;
	margin-bottom: 5%;
	text-align: center;
}
.formulaire h1 span {
	font-family: 'Lora', serif;
	background-image: url('../src/img/fond-feuilles-vertes-tropicales.jpg');
	background-size: cover;
	text-shadow: #94ffb6 0 0 30px;
	color: transparent;
	font-weight: 900;
	background-clip: text;
	-webkit-background-clip: text;
}
.formulaire form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 90%;
}
.grp-form {
	position: relative;
	margin: 3%;
	margin-top: 50px;
}
.formulaire form input, .formulaire form select {
	border: none;
	border-bottom: gray solid 2px;
	background-color: transparent;
	outline: none;
	font-family: monospace;
	font-size: 1.5rem;
	color: #f1f1f1;
	width: 300px;
	height: 50px;
}
.formulaire form input:focus::placeholder{
	color: transparent;
}
.formulaire form label {
	font-family: monospace;
	font-size: 1.5rem;
	color: gray;
	position: absolute;
	left: 0;
	animation-duration: 1s;
	font-weight: bold;
	transition-duration: 1s;
	cursor: text;
	margin-top: 5%;
}
.formulaire form input:is(:focus, :valid) + label, .formulaire form select:is(:focus, :valid) + label {
	transform: translateY(-100%);
	transition-duration: 1s;
	margin-top: 0;
}
.formulaire form select:hover {
	cursor: pointer;
}
#formation + label:hover {
	cursor: default;
}
.formulaire form select {
	width: 300px;
	background-color: #2b2b2b;
}
.formulaire form :is(input:is([type="submit"], [type="reset"])) {
	color: gray;
	border: gray solid 2px;
	transition-duration: 1s;
	border-radius: 10px;
}
.formulaire form :is(input:is([type="submit"], [type="reset"])):hover {
	cursor: pointer;
	color: #2b2b2b;
	background-color: gray;
	transition-duration: 1s;
}