@charset "utf-8";

footer {
    background-color: #2b2b2b;
    color: #4e7b5c;
    padding: 5% 10%;
    bottom: 0;
    width: 100%;
}
footer img {
    width: 70px;
    margin: 5px;
}
.top-footer {
    display: flex;
    justify-content: center;
    border-bottom: solid #424242;
    padding-bottom: 2%;
    flex-wrap: wrap;
}
.top-footer p {
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: bold;
    text-align: center;
}
.top-footer .main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 20px;
}
footer .list {
    display: flex;
    flex: content;
    justify-content: space-between;
    width: 50%;
    margin-top: 10px;
    flex-wrap: wrap;
}
footer .list ul {
    margin: 2%;
}
footer .list ul li {
    list-style-type: none;
    white-space: nowrap;
}
footer .list ul li:first-child {
    margin-bottom: 10px;
    font-weight: bold;
}
footer a {
    color: #f1f1f1;
    text-decoration: none;
    transition-duration: 0.3s;
}
footer a:hover {
    color: #507dbc;
    transition-duration: 0.3s;
}
.bottom-footer {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}