@charset "utf-8";
@import "./clean.css";
@import "./animations.css";
@import "./nav.css";
@import "./footer.css";


#formation{ 
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #2b2b2b;

} 
 .titre { 
    font-size: 3.5rem;
    color: whitesmoke;
    font-weight: 100;
    border: #f1f1f1 solid 3px;
    margin: 0 10% 0 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-bottom: 600px; */
    height: min-content;
}

.appr {
    margin-top: 15rem;
}
/* body div div p {
    font-size:1rem;
    color : black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2% 5% 1% 5%;
} */