@charset "utf-8";
@import "./clean.css";
@import "./animations.css";
@import "./nav.css";
@import "./footer.css";


@media screen and (max-width: 1440px) {
    #presentation div {
        width: 90%;
        margin: 3%;
    }
    iframe {
        width: 90%;
        margin: 3%;
    }
}


#accueil {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-wrap: wrap;
    background-image: url('../src/img/fond-feuilles-vertes-tropicales.jpg');
}
.titre {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    border: #f1f1f1 solid 3px;
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 10%;
    margin-top: 10%;
}
.titre h1 {
    font-weight: 900;
    font-size: 5rem;
    font-family: 'Lora', serif;
}
.titre h1 span {
    word-break: break-all;
}
.titre h2 {
    font-size: 2rem;
    font-family: monospace;
}
.door {
    vertical-align: bottom;
    margin-bottom: 5%;
    color: #f1f1f1;
    text-decoration: none;
    animation: respire alternate 1s infinite ease-in-out;
}
.door span {
    font-size: 6rem;
}
.door span:hover + h3, h3:hover {
    text-decoration: underline;
}
#presentation {
    width: 100%;
    min-height: 100vh;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}
#presentation div  {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#presentation div p {
    color: #f1f1f1;
    font-size: 1rem;
    font-family: 'Lora', serif;
    margin-bottom: 15px;
    border: #f1f1f1 solid 2px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    opacity: 0;
}
#presentation div p:nth-child(even) {
    align-self: end;
    text-align: right;
    background-color: #385e45;
}
#presentation div p:nth-child(odd) {
    text-align: left;
}
iframe {
    border: #385e45 solid 3px;
    box-sizing: content-box;
    border-radius: 20px;
    min-width: 40%;
    aspect-ratio: 16/9;
}
.description {
    width: 100%;
    min-height: 100vh;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.developpement {
    margin: 10%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 50%);
}
.developpement div {
    min-height: 100%;
    width: 80%;
    margin-top: 25%;
    justify-self: center;
}
.developpement div h4 {
    font-size: 2rem;
    text-align: left;
    color: #385e45;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2%;
    text-indent: 5%;
}
.developpement div p {
    color: #f3f3f3;
    font-family: 'Lora';
    text-align: justify;
    background-color: #313131;
    padding: 15px;
    border-radius: 20px;
}
@media screen and (max-width: 425px) {
    #presentation div p {
        width: fit-content;
    }
    .titre {
        margin-top: 25%;
    }
}
@media screen and (max-width: 880px) {
    .developpement {
        grid-template-columns: repeat(auto-fit, 100%);
        margin: 5%;
    }
}